{
  "extends": [
    "plugin:prettier/recommended",
    "node",
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/no-commonjs": 0,
    "import/no-nodejs-modules": 0,
    "max-len": [
      "warn",
      {
        "code": 80,
        "tabWidth": 2,
        "comments": 80,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "node/no-unsupported-features/es-syntax": 0,
    "prettier/prettier": [
      "warn", 
      {
        "endOfLine": "auto", 
        "parser": "flow", 
        "singleQuote": true
      }
    ]
  }
}