.sidebar-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 18rem;
}

.sidebar-container-expand {
  left: 0;
  transition: 750ms;
}

.sidebar-container-collapsed {
  left: -15rem;
  transition: 750ms;
}

.sidebar-contents {
  background-color: $layer-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  overflow: auto;
  width: 15rem;
}

.sidebar-header {
  color: $text;
  text-align: center;
}

.sidebar-body {
  display: flex;
  flex-grow: 100;
  justify-content: flex-start;
  overflow: auto;
}

.sidebar-footer {
  align-self: flex-end;
  align-items: center;
  color: $text;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar-collapse {
  align-items: center;
  background-color: $layer-2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 0;
  width: 3rem;
}

.sidebar-collapse-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  box-shadow: none;
  padding: 0 0.5rem;
}

.sidebar-collapse-button:active,
.sidebar-collapse-button:focus,
.sidebar-collapse-button:hover {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.sidebar-collapse-button-icon {
  color: $text;
  transition: 250ms;
}

.sidebar-collapse-button-icon-rot {
  transform: rotate(180deg);
  transition: 250ms;
}
