.list-menu-item-container {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  min-height: 2.5rem;
}

.list-menu-item {
  width: 100%;
}

.list-menu-item-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.list-menu-item-label {
  align-items: center;
  display: flex;
}

.list-menu-item-label-text {
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-menu-item-icon {
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.list-menu-item-icon-closed {
  transition: 500ms;
}

.list-menu-item-icon-open {
  transform: rotate(-90deg);
  transition: 500ms;
}

.list-menu-item-subnav-closed {
  display: none;
}

.list-menu-item-subnav-open {
  animation: rotateY 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
